.App-header h1 {
  margin: 25px auto;
  font-family: "Tangerine", cursive;
  font-size: 50px;
  font-weight: 600;
  color: var(--primary-color);
}
.font-awsome-dictoinary-icon {
  font-size: 30px;
  color: rgb(15, 71, 15);
  color: var(--primary-color);
}
body {
  margin: 40px auto;
  background-color: #83c9cb;
  /* background-image: linear-gradient(0deg, #83c9cb 0%, #2af598 100%); */
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  background-repeat: no-repeat;
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
  font-size: 12px;
}

@media (max-width: 576px) {
  .Result {
    text-align: left;
    padding: 0;
    margin: 0 auto;
  }

  .input-box {
    max-width: 100%;
    margin: auto;
  }
  .btn-success {
    max-width: 50%;
    line-height: 1.5;

    margin: 20px auto;
  }

  .container {
    padding: 25px 15px;
    max-width: 95%;
  }

  .search-box {
    max-width: 50%;
  }

  .App-header h1 {
    margin: 30px auto;
    font-family: "Tangerine", cursive;
    font-size: 30px;
    font-weight: 600;
    margin: 0 auto;
  }
  .font-awsome-dictoinary-icon {
    font-size: 20px;
    color: rgb(15, 71, 15);
  }

  small {
    position: relative;
    top: -9px;
    left: -32px;
    font-size: 10px;
    color: var(--primary-color);
  }
  .Result h2 {
    font-size: 30px;
    line-height: 1cm;
  }
}

@media (max-width: 460px) {
  small {
    visibility: hidden;
  }
}
