.btn-success {
  background-color: #2af598;
  color: black;
  max-width: 100px;
  line-height: 1.5;
  margin-left: 20px;
  transition: all 200ms ease-in-out;
}

.btn-success:focus {
  background-color: #2af598;
  color: black;
  max-width: 100px;
  line-height: 1.5;
  margin-left: 20px;
  box-shadow: 0 0 0 0.25rem rgb(60 153 110 / 50%);
}
.btn-success:hover {
  background-color: #45a07a;
}

.input-box {
  max-width: 300px;
  line-height: 1.5;
}

.input-box:focus {
  color: #212529;
  background-color: #fff;
  border-color: #4d9c57;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(32, 122, 95, 0.25);
}

small {
  position: relative;
  top: -20px;
  left: -130px;
  font-size: 10px;
}
